body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
}

.nav-link {
    color: white !important;
    font-size: 18px;
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white !important;
}
